  .leftside, .rightside {
    height: 50vh;
    width:100%;
    background: #002F7B;
  }
  
  #logo{
    left: 10%;
  }

  @media screen and (min-width:760px){
    .leftside, .rightside {
      height: 100vh;
  
    }
  }
  
  .header {
    font-size: 5.5vw;
    color: #FFBF00;
    font-family: Impact, sans-serif;
    text-align: center;
    position: absolute;
    left: 15%;
    top: 25%;
    margin-top: -10%;
  }
  
  .subtitle {
    background-color: white;
    border-radius: 30px;
    width: 30.5vw;
    color: #002F7B;
    font-size: 1.2vw;
    font-family: Tahoma, sans-serif;
    text-align: center;
    position: absolute;
    left: 8%;
    top: 35%;
    margin-top: -10%;
  }
  
  .description {
    color: white;
    font-family: Tahoma, sans-serif;
    text-align: center;
    position: absolute;
    left: 10%;
    top: 43%;
    margin-top: -10%;
    font-size: 1vw;
  }
  
  h1 {
    font-size: 0.8em; letter-spacing: 5px;
  }
  
  h2 {
    font-size: 2em; letter-spacing: 6px;
  }
  
  h3 {
    font-size: 1em; letter-spacing: 6px;
    font-family: Impact, sans-serif;
  }
  
  h4 {
    font-size: 1em; letter-spacing: 1px;
    font-family: Arial, sans-serif;
    margin-left: 130%;
  
  }
  
  h5 {
    font-size: 1em; letter-spacing: 1px;
  }
  
  #result-one{
    color: #AFEB8F;
    font-size: 1.1vw;
  }
  
  #result-two{
    color: #FF5757;
    font-size: 1.1vw;
  }
  
  
  #sqr-green{
    width: 10%;
    height: 6.5%;
    background-color: #002F7B;
    border-width: thick;
    border-style: solid;
    border-color: #AFEB8F;
  
    position: absolute;
    left: 26%;
    top: 65%;
    margin-top: -50px;
  }
  
  #sqr-red{
    width: 10%;
    height: 6.5%;
    background-color: #002F7B;
    border-width: thick;
    border-style: solid;
    border-color: #FF5757;
  
    position: absolute;
    left: 63%;
    top: 65%;
    margin-top: -50px;
  }
  
  .videoPlayer {
    text-align: center;
  }
  
  a:link, a:visited {
    font-family: Impact, sans-serif;
    letter-spacing: 1px;
    background-color: white;
    color: #002F7B;
    border: 2px solid #002F7B;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    position: absolute;
    left: 80%;
    top: 95%;
    margin-top: -7vh;
  }
  
  a:hover, a:active {
    background-color: #002F7B;
    color: #FFBF00;
  }

